<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <script type="text/javascript">
        function dropdown() {
          $('.dropdown-menu').toggle("show")
        }

        $(document).ready(function () {
          switch (window.location.href.split("=")[1]) {
              case "Coach":
                  changeTheme("Coach");
              break;
              case "DKNY":
                  changeTheme("DKNY");
              break;
              case "Michael%20Kors":
                  changeTheme("Michael Kors");
              break;
              case "Ralph%20Lauren":
                  changeTheme("Ralph Lauren");
              break;
              case "Rebecca%20Minkoff":
                  changeTheme("Rebecca Minkoff");
              break;
              case "Roberto%20Cavalli":
                  changeTheme("Roberto Cavalli");
              break;
              case "Tory%20Burch":
                  changeTheme("Tory Burch");
              break;
              case "Yves%20Saint%20Laurent":
                  changeTheme("Yves Saint Laurent");
              break;
              case "random":
                  console.log("The Theme is Random");
              break;
            default:
              console.log("The theme is default");
          }
        });

        function changeTheme(themeName) {
            switch (themeName) {
              case "Coach":
                $('.main-title').text("Coach Products")
                $('.main-title').addClass("Coach")
                $('.logopic').attr('src', 'https://www.coach.com/on/demandware.static/Sites-Coach_US-Site/-/default/dw8e2473dc/images/logo-us.svg')
              break;
              case "DKNY":
                $('.main-title').text("DKNY Products")
                $('.main-title').addClass("DKNY")
                $('.logopic').attr('src', 'https://www.donnakaran.com/images/donnakaran/en_us/global/globalnav/logo-small.png')
              break;
              case "Michael Kors":
                $('.main-title').text("Michael Kors Products")
                $('.main-title').addClass("Kors")
                $('.logopic').attr('src', 'https://www.michaelkors.com/img/logo_mk.png')
              break;
              case "Ralph Lauren":
                $('.main-title').text("Ralph Lauren Products")
                $('.main-title').addClass("Ralph")
                $('.logopic').attr('src', 'https://www.ralphlauren.com/on/demandware.static/Sites-RalphLauren_US-Site/-/default/v1519992010771/images/logo.svg')
              break;
              case "Rebecca Minkoff":
                $('.main-title').text("Rebecca Minkoff Products")
                $('.main-title').addClass("Mink")
                //this logo is constructed from individual letter svgs
              break;
              case "Roberto Cavalli":
                $('.main-title').text("Roberto Cavalli Products")
                $('.main-title').addClass("Roberto")
                //this logo is just text
              break;
              case "Tory Burch":
                $('.main-title').text("Tory Burch Products")
                $('.main-title').addClass("Burch")
                $('.logopic').attr('src',
                'https://static.toryburch.com/static/on/demandware.static/Sites-ToryBurch_US-Site/-/default/v1520022625883/themes/demandwarestore/images/tb_logo_navy.svg')
              break;
              case "Yves Saint Laurent":
                $('.main-title').text("Yves Saint Laurent Products")
                $('.main-title').addClass("YSL")
                $('.logopic').attr('src', 'http://logo-logos.com/wp-content/uploads/2016/11/Yves_Saint_Laurent_logo_YSL.png')
              break;
              default:
                $('.main-title').text("Available Products")
                $('.logospace').addClass("invis")
            }
        }
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <div class="page-container">

      <nav class="top-nav">
        <div class="dropdown">
         <button class="btn btn-primary dropdown-toggle" type="button" onclick="dropdown()">
           Choose Brand
         <span class="caret"></span></button>
           <ul class="dropdown-menu" id="dropdown-menu">
             <li><a class="dropdown-item" href="products">All</a></li>
             <li><a class="dropdown-item" href="?sort=random">Random Sample</a></li>
             <li><a class="dropdown-item" href="?brand=Coach">Coach</a></li>
             <li><a class="dropdown-item" href="?brand=DKNY">DKNY</a></li>
             <li><a class="dropdown-item" href="?brand=Michael Kors">Michael Kors</a></li>
             <li><a class="dropdown-item" href="?brand=Ralph Lauren">Ralph Lauren</a></li>
             <li><a class="dropdown-item" href="?brand=Rebecca Minkoff">Rebecca Minkoff</a></li>
             <li><a class="dropdown-item" href="?brand=Roberto Cavalli">Roberto Cavalli</a></li>
             <li><a class="dropdown-item" href="?brand=Tory Burch">Tory Burch</a></li>
             <li><a class="dropdown-item" href="?brand=Yves Saint Laurent">Yves Saint Laurent</a></li>
           </ul>
         </div>
        <h1 class="main-title">Available Products</h1>
      </nav>

       <div class="logospace">
         <a href="https://www.google.com/">
           <img class="logopic" src=""></img></a>
       </div>

      <div class="product-super">
      <% @products.each do |product| %>
          <div class="product-container">
            <div class="product-image">
              <%= image_tag product.images[0] %>
            </div>
            <div class="product-info">
              <ul>
                <li class="p-name"><%= product.name %></li>
                <li>Brand: <%= product.brand %></li>
                <li>Style: <%= product.style %></li>
                <li>Color: <%= product.color %></li>

                <% if product.SKU != nil %>
                <li>SKU: <%= product.SKU %></li>
                <% end %>

                <% if product.UPC != nil %>
                <li>UPC: <%= product.UPC %></li>
                <% end %>

                <% if product.leather_type != nil %>
                <li>Leather Type: <%= product.leather_type %></li>
                <% end %>

                <li>Description: <%= product.description %></li>
                <li>Retail Price: $<%= product.retail_price %></li>
                <!-- <li>Cost: $<%= product.price %></li> -->
                <li>Quantity: <%= product.quantity %></li>
                <!-- <li>Total: $<%= product.quantity * product.price %></li> -->
                <li><a href="<%= product.samples[0] %>">Link to Sample</a></li>
              </ul>
            </div>

          </div>
      <% end %>
      </div>

    </div>

  </body>
</html>
