<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <script type="text/javascript">
        function dropdown() {
          document.getElementById("dropdown-menu").classList.toggle("show")
        }
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <div class="page-container">

      <h1 class="main-title">Available Products</h1>

      <div class="dropdown">
       <button class="btn btn-primary dropdown-toggle" type="button" onclick="dropdown()">
         Choose Brand
       <span class="caret"></span></button>
         <ul class="dropdown-menu" id="dropdown-menu">
           <li><a class="dropdown-item" href="products">All</a></li>
           <li><a class="dropdown-item" href="?sort=random">Random Sample</a></li>
           <li><a class="dropdown-item" href="?brand=Coach">Coach</a></li>
           <li><a class="dropdown-item" href="?brand=DKNY">DKNY</a></li>
           <li><a class="dropdown-item" href="?brand=Michael Kors">Michael Kors</a></li>
           <li><a class="dropdown-item" href="?brand=Ralph Lauren">Ralph Lauren</a></li>
           <li><a class="dropdown-item" href="?brand=Rebecca Minkoff">Rebecca Minkoff</a></li>
           <li><a class="dropdown-item" href="?brand=Roberto Cavalli">Roberto Cavalli</a></li>
           <li><a class="dropdown-item" href="?brand=Tory Burch">Tory Burch</a></li>
           <li><a class="dropdown-item" href="?brand=Yves Saint Laurent">Yves Saint Laurent</a></li>
         </ul>
       </div>

      <div class="product-super">
      <% @products.each do |product| %>
          <div class="product-container">
            <div class="product-image">
              <%= image_tag product.images[0] %>
            </div>
            <div class="product-info">
              <ul>
                <li class="p-name"><%= product.name %></li>
                <li>Brand: <%= product.brand %></li>
                <li>Style: <%= product.style %></li>
                <li>Color: <%= product.color %></li>

                <% if product.SKU != nil %>
                <li>SKU: <%= product.SKU %></li>
                <% end %>

                <% if product.UPC != nil %>
                <li>UPC: <%= product.UPC %></li>
                <% end %>

                <% if product.leather_type != nil %>
                <li>Leather Type: <%= product.leather_type %></li>
                <% end %>

                <li>Description: <%= product.description %></li>
                <li>Retail Price: $<%= product.retail_price %></li>
                <!-- <li>Cost: $<%= product.price %></li> -->
                <li>Quantity: <%= product.quantity %></li>
                <!-- <li>Total: $<%= product.quantity * product.price %></li> -->
                <li><a href="<%= product.samples[0] %>">Link to Sample</a></li>
              </ul>
            </div>

          </div>
      <% end %>
      </div>

    </div>

  </body>
</html>
